[submodule "libraries/aws-iot-device-sdk-embedded-C"]
	path = libraries/aws-iot-device-sdk-embedded-C
	url = https://github.com/aws/aws-iot-device-sdk-embedded-C
[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
url=https://github.com/Mbed-TLS/mbedtls.git
[submodule "libraries/pico-extras"]
	path = libraries/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "libraries/pico-sdk"]
	path = libraries/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "libraries/CMSIS_5"]
	path = libraries/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "libraries/CMSIS-Driver"]
	path = libraries/CMSIS-Driver
	url = https://github.com/ARM-software/CMSIS-Driver.git
[submodule "libraries/CMSIS-FreeRTOS"]
	path = libraries/CMSIS-FreeRTOS
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
[submodule "libraries/IoT_Socket"]
	path = libraries/IoT_Socket
	url = https://github.com/MDK-Packs/IoT_Socket.git
